<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Request</title>
</head>
<body>
<p>Hello,</p>

<p>We have received a request to reset the password associated with your account. If you did not make this request, please ignore this email.</p>

<p>To reset your password, please click on the link below:</p>

<a href="[Link]">Reset Password</a>

<p>If the above link does not work, copy and paste the following URL into your browser:</p>

<p>[Link]</p>

<p>Please note that this link is valid for [X hours/days], after which you will need to submit another password reset request.</p>

<p>If you have any questions or concerns, please contact our support team at <a href="mailto:[Support Email Address]">[Support Email Address]</a>.</p>

<p>Thank you</p>

</body>
</html>