trigger:
  - master

resources:
  - repo: self

variables:
  azureSubscription: '4Coipus (rg-pets-prod-001)'
  tag: '$(Build.BuildId)'

stages:
  - stage: Test
    displayName: Run tests
    jobs:
      - job: Unit
        displayName: Run unit tests and publish results
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: CmdLine@2
            displayName: Run unit tests
            inputs:
              script: |
                docker build --target unittestrunner -t pets-api-unitests:$(Build.BuildId) .
                docker run --name unittests pets-api-unitests:$(Build.BuildId)
                docker cp unittests:/testsresults/unittests ../

          - task: PublishTestResults@2
            displayName: Publish unit test results
            inputs:
              testResultsFormat: 'VSTest'
              testResultsFiles: '*.trx'
              searchFolder: '$(Agent.BuildDirectory)/unittests'
              mergeTestResults: true
              failTaskOnFailedTests: true

      # - job: Component
      #   displayName: Run component tests and publish results
      #   pool:
      #     vmImage: 'ubuntu-latest'
      #   workspace:
      #     clean: all
      #   steps:
      #     - task: CmdLine@2
      #       displayName: Run Api for component tests
      #       inputs:
      #         script: |
      #           docker build --target runtime -t pets-api:$(Build.BuildId) .
      #           docker run -d -p 5000:80 pets-api:$(Build.BuildId)

      #     - task: CmdLine@2
      #       displayName: Run component tests
      #       inputs:
      #         script: |
      #           docker build --target componenttestrunner -t pets-api-componenttest:$(Build.BuildId) .
      #           docker run --network=host --name componenttests pets-api-componenttest:$(Build.BuildId)
      #           docker cp componenttests:/testsresults/componenttests ../

      #     - task: PublishTestResults@2
      #       displayName: Publish component test results
      #       inputs:
      #         testResultsFormat: 'VSTest'
      #         testResultsFiles: '*.trx'
      #         searchFolder: '$(Agent.BuildDirectory)/componenttests'
      #         mergeTestResults: true
      #         failTaskOnFailedTests: true

  - stage: Push
    displayName: Push image to Docker Hub
    jobs:
      - job: Push
        displayName: Build and Push
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: Docker@2
            displayName: Build and push to Docker Hub
            inputs:
              containerRegistry: 'DockerHub - DigitalVertex'
              repository: '4coipus/pets'
              command: 'buildAndPush'
              Dockerfile: '**/Dockerfile'
              tags: $(Build.BuildId)

  - stage: Deploy
    displayName: Deploy to App Service
    jobs:
      - job: Deploy
        displayName: Deploy
        pool:
          vmImage: 'ubuntu-latest'
        steps:
          - task: AzureRmWebAppDeployment@4
            inputs:
              ConnectionType: 'AzureRM'
              azureSubscription: $(azureSubscription)
              appType: 'webAppContainer'
              WebAppName: 'pets'
              DockerNamespace: 'index.docker.io'
              DockerRepository: '4coipus/pets'
              DockerImageTag: $(Build.BuildId)
